<link rel="stylesheet" href="/css/mypage/bookinglist.css?v={{ timestamp }}" />
<div class="bookinglist-container">
    <h2 class="container-title">예매/구매내역</h2>

    <div class="booking-list">
        {{#reservations}}
        <div class="booking-card">
            <div class="booking-header">
                <div class="booking-header-left">
                    <span class="reservation-date">{{formattedReservationTime}}</span>
                    <span>|</span>
                    <span class="cinema-name">{{cinemaName}}</span>
                </div>
                <a class="detail-link" href="/mypage/bookingdetail?reservationId={{reservationId}}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g id="_01_align_center" data-name="01 align center">
                            <path
                                d="M7.412,24,6,22.588l9.881-9.881a1,1,0,0,0,0-1.414L6.017,1.431,7.431.017l9.862,9.862a3,3,0,0,1,0,4.242Z" />
                        </g>
                    </svg>
                </a>
            </div>

            <div class="booking-body">
                <img src="/images/posters/{{mainImageUrl}}" alt="{{movieTitle}}" class="poster" />
                <div class="booking-area">
                    <p class="status {{paymentStatusClass}}">{{paymentStatusText}}</p>
                    <div class="booking-info">
                        <p class="movie-title">{{movieTitle}}</p>
                        <p class="showtime">{{formattedShowtimeStart}}</p>
                        <p class="seat-type">{{seatTypeSummary}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/reservations}}

        {{^reservations}}
        <p class="empty-text">예매 내역이 없습니다.</p>
        {{/reservations}}
    </div>
</div>

<script src="/js/mypage/bookinglist.js"></script>