<header>
    <h1>CineMoa</h1>
    <nav>
        <ul>
            <li><a href="/movies">영화</a></li>
            <li><a href="/">예매</a></li>
            <li><a href="/">극장</a></li>
            <li><a href="/event">이벤트</a></li>
        </ul>
    </nav>
</header>
