.container{
    text-align: center;
}
.header {
    width: 100%;
    background: linear-gradient(45deg, #006f7c, #95c0c3);
    color: white;
    padding: 20px;
}

.header h2 {
    font-size: 18px;
    font-weight: bold;

}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.profile-section img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 1px solid #ddd;
    object-fit: cover;
}

.profile-buttons{
    margin-top: 10px;
    
}
.profile-buttons label,
.profile-buttons button {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ddd;
}
.btn-cancel {
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ddd;
}

.profile-label{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #006f7c;
    line-height: 1.4;
    text-align: left;
}
.input-nickname {
    width: 100%;
    padding: 11px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.2s;
    background-color: white;
}
.input-nickname:focus {
  border-color: #006f7c;
  outline: none;
}

.btn-confirm {
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #006f7c;
    color: #fff;
    border: none;
}

.btn-confirm:hover {
    background-color: #004f59;
}